@tailwind base;
@tailwind components;
@tailwind utilities;



html {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}


.custom-img {
    background-image: url("https://images.unsplash.com/photo-1512314889357-e157c22f938d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80");
}
.handshake {
    background-image: url("../public/handshake.jpg.jpg");
}
.pipeline {
    background-image: url("../public/selim-arda-eryilmaz-XYeCKHcZNz8-unsplash.jpg");
}
.small-pipeline {
    background-image: url("../public/small-pipeline.png");
}
.navbar-li {
    @apply p-4 hover:bg-accentColorB/50  rounded font-bold text-xl;
}
.navbar-li-dark {
    @apply p-4  hover:bg-accentColor/90 rounded font-bold text-xl;
}