@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("~leaflet/dist/leaflet.css");

.leaflet-container {
  width: 100%;
  height: 100vh;
}

html {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

.custom-img {
    background-image: url("https://images.unsplash.com/photo-1512314889357-e157c22f938d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80");
}
.handshake {
    background-image: url("../public/handshake.jpg.jpg");
}
.pipeline {
    background-image: url("../public/selim-arda-eryilmaz-XYeCKHcZNz8-unsplash.jpg");
}
.small-pipeline {
    background-image: url("../public/small-pipeline.png");
}
.navbar-li {
    @apply p-4 hover:bg-accentColorB/50  rounded font-bold text-xl relative;
}
.navbar-li-dark {
    @apply p-4  hover:bg-accentColor/90 rounded font-bold text-xl;
}
.iframe-container {
    @apply relative w-full my-5 ;
    padding-bottom: 56.25%;
}
.iframe-container iframe {
    @apply absolute w-full h-full top-0 left-0 rounded-lg;
}
