pre[class*="language-"] {
    background: black;
  }
  
  /* Style the header box */
  .code-block {
    background-color: black;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
  /* Style the "Copy Code" button */
  .copy-button {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: x-small;
  }
  
  .copy-button:hover {
    background-color: #2a69ac;
  }
  
  .copied {
    background-color: #38a169;
  }